.each-money-details-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-left: 22px;
  padding-right: 15px;
  border-radius: 15px;

  width: 30%;
}

.your-balance-styling {
  border: 1px solid #84cc16;
  background-color: #ecfccb;
}

.your-income-styling {
  border: 1px solid #06b6d4;
  background-color: #cffafe;
}

.your-expenses-styling {
  border: 1px solid #7c3aed;
  background-color: #ede9fe;
}

.money-detail-logo {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}

.heading-amount-type-amount-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.amount-type {
  font-family: Roboto;
  color: #475569;
  font-size: 14px;
  margin-bottom: 0;
}

.amount {
  font-family: Roboto;
  color: #475569;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .each-money-details-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-left: 22px;
    padding-right: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
}
